.crs-title {
  text-align: center;
}

.crs {
  /* border: 1px solid red; */
}
/* .indc {
  text-align: center;
} */
.dashboard ul {
  list-style: none;
}

.dashboard {
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
}

.workshops-right {
  margin-top: 30px;
}

.workshops-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
  text-align: center;
}

.courses-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.workshops-content img {
  width: 350px;
  height: 200px;
}
@media screen and (max-width: 768px){
  .workshops-content img{
    width: 90% !important;
    height: auto !important;
  }
}