.talks {
  padding: 35px;
}
.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.talk-card {
  text-align: center;
  padding: 10px;
}

.talk-card h1 {
  color: #896ad0;
}

@media screen and (max-width: 768px) {
  .cards-container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  .talk-card {
    padding: 0;
  }
  .talks {
    padding: 15px;
    text-align: center;
  }
  .talks h1 {
    font-size: 20px;
  }
  iframe {
    width: 350px;
  }
}
